header{
 height: var(--header_height);
 background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar_height);
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}
.header__navbar-item{
    padding: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-item,
.header__navbar-item-link
{
    display: inline-block;
    font-size: 1.5rem;
    color:var(--white_color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link
{
    display: inline-flex;
    align-items: center;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover
{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.header__navbar-item--strong
{
    font-weight: 500;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -3.5px;
    top:50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link{
    color: var(--white_color);
    text-decoration: none;
}
.header__navbar-icon
{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-tittle--no-pointer{
    cursor: text;
    color: var(--white_color);
}
/* Header QR Code */
.header__qr{
    width: 186px;
    background-color: var(--white_color);
    position: absolute;
    left:0;
    top: 120%;
    padding: 8px;
    display: none;
    margin-left: 8px;
    animation: fadeIn ease-in 0.3s;
    z-index: 2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header__qr::before{
    position: absolute;
    left: 0;
    top:-16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}
.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-link:first-child{
    margin-left: 11px;;
}
.header__qr-link:last-child{
    margin-right: 11px;;
}
.header__qr-download-img{
    height: 16.5px;
}
.header__navbar-item--has-qr:hover .header__qr
{
    /* CSS QR */
    display: block;
}
/* Header notification */
.header__notify{
    position: absolute;
    top: 100%;
    width: 404px;
    margin-top: 10px;
    background-color: var(--white_color);
    right: 0;
    border: 1px solid #D3D3D3;
    transform-origin: calc(100% - 40px) top;
    will-change: opacity, transform;
    animation: headerNotify  ease-in 0.25s;
    display: none;
    z-index: 9999;
}
@keyframes headerNotify {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to 
    {
        opacity: 1;
        transform: scale(1);

    }
}
.header__notify::before{
    content: "";
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent white transparent ;
    position: absolute;
    right: 25px;
    top: -20px;
}
.header__notify::after{
    content: "";
    position: absolute;
    right: 0;
    top: -20px;
    width: 100px;
    height: 20px;
    

}
.header__notify-header{
    height: 40px;
    background-color:  var(--white_color);
    cursor: default;
    


}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    
}
.header__notify-list{
    padding-left: 0;

}
.header__notify-item{
    display: flex;
}
.header__notify-item:hover {
    background-color: rgba(190, 186, 186, 0.7);
}
.header__notify-link{
    display: flex;
    width: 100%;
    text-decoration: none;
    background-color: rgba(248, 211, 200, 0.7);
    

}
.header__notify-img{
    width: 48px;
    object-fit: contain;
    margin: 2px 0px;;

}
.header__notify-info{
    margin-left: 12px;
    
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black_color);
    font-weight: 400;
    margin-top: 5px;
}
.header__notify-description{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #413e3e;
    margin-top: 5px;
    
}
.header__notify-footer{
    text-align: center;
    padding: 10px 0px;
   
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text_color);
    font-weight: 400;
}
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}
/* authen modal */
.auth-form{
    width: 500px;
    border-radius: 5px;
    background-color: var(--white_color);
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text_color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary_color);
    cursor: pointer;
}

.auth-form_input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 2px solid var(--border_color);
    outline: none;
}
.auth-form_input:focus{
    border-color: #999;
}
.auth-form_aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    padding: 0 12px;
    text-align: center;
}
.auth-form__text-link{
    text-decoration:  none;
    color: var(--primary_color);
}
.auth-form__controls{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}
/* button-style */
.btn{
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 0 0;
    outline: none;
    cursor: pointer;
    background-color: var(--white_color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}
.btn.auth-form__controls-back:hover{
    background-color: rgba(0,0,0,0.05);
}
.btn.btn--primary{
    background-color: var(--primary_color);
    color: var(--white_color);
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #F5F5F5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
}
.auth-form__socials--facebook{
    color: var(--white_color) ;
    background-color: #385999 !important;
}
.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--white_color);
}
.auth-form__socials-tittle{
    margin: 0 36px;
}
.auth-form__socials--google{
    color: #666 ;
    background-color: var(--white_color);
}
/* registerform */
.auth-form_help{
    display: flex;
    justify-content: flex-end;
}
.auth-form_help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form_help-separate{
    display: block;
    border-left: 1px solid var(--border_color) ;
    height: 16px;
    margin: 0 16px;
}
.auth-form_help-forget{
    color: var(--primary_color);
}
/* Header with search */

.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header__logo{
    width: 200px;
}
.header__logo-img{
    width: 150px;
}
.header__search{
    flex: 1;
    height: 40px;
    background-color: var(--white_color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__cart{
    text-align: center;
    width: 150px;
    display: inline-block;
}
.header__cart-wrap{
    display: inline-block;
    position: relative;
    padding: 0 8px;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}


.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white_color);
    cursor: pointer;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 12px);
    right: -10px;
    background-color: var(--white_color);
    width: 400px;
    border-radius: 3px;
    box-shadow: 0 2px 10px #ccc;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 99999999;

}
.header__cart-list::after{
    content: "";
    position: absolute;
    right: 14px;
    top: -25px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent var(--white_color) transparent;

}
.header__cart-no-cart{
    padding: 24px 0;

}
.header__cart-no-cart .header__cart-no-cart-img,
.header__cart-no-cart .header__cart-no-cart-messages{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-cart-img{
    width: 60%;
    display: none;
}
.header__cart-no-cart-messages{
    display: block;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text_color);
    display: none;

}
.header__cart-notice{
    position:absolute;
    padding: 2px 6px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: var(--primary_color);
    background-color: var(--white_color);
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    top: -10px;
    right: -4px;
}
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    height: 55vh;
    overflow-y: auto;
}
.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #f1ecec;
}
.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #ccc;
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
   
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.header__cart-item-name{
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text_color);
    margin: 0;
    padding-right: 16px;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;


}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary_color)
}
.header__cart-item-multify{
    font-size: 0.8rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-quantity{
    font-size: 1.2rem;
    color: #666666;

}
.header__cart-item-body{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;

}
.header__cart-item-description{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
    
}
.header__cart-item-remove{
    color: var(--text_color);
    font-size: 1.4rem;
    font-weight: 400;
}
.header__cart-item-remove:hover{
    color:  var(--primary_color);
    cursor: pointer;
}

.header__cart-view-btn{
    float: right;
    margin: 0 12px 12px 0;
    border-radius: 2px;
    min-width: 124px;
}
.header__cart-view-btn:hover{
    background-color: #fc5b3a;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;

}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1.6rem;
    color: var(--text_color);
    padding: 0 16px;
}
.header__search-select{
    border-left: 2px solid rgb(197, 194, 194)  ;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text_color);

}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #7c7979;
    margin: 0 8px;
}
.header__search-btn{
    background-color: var(--primary_color);
    border: none;
    outline: none;
    height: 34px;
    width: 36px;
    border-radius: 3px;
    margin-right: 3px;
    cursor: pointer;
}
.header__search-btn:hover {
    background-color: #fa5041;
}
.header__search-btn-icon{
    color: var(--white_color);
    font-size: 1.4rem;

}

.header__search-option{
    position: absolute;
    right: 0;
    top: 125%;
    width: 130px;
    list-style: none;
    box-shadow: 0 0 3px #ccc;
    padding-left: 0;
    border-radius: 3px;
    display: none;

}
.header__search-option::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
    
}
.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-option-ỉtem{
    background-color: var(--white_color);
    border-radius: 3px;
    padding: 8px 8px;
}
.header__search-option-ỉtem span {
    font-size: 1.4rem;
    color: var(--text_color);
    margin-left: 8px;

}
.header__search-option-ỉtem i {
    font-size: 1.2rem;
    color: var(--primary_color);
    margin-left: 12px;
    display: none;
}
.header__search-option-ỉtem-active i {
    display: inline-block;
}
.header__search-option-ỉtem:hover{
    background-color: #fcf5f5;
    cursor: pointer;
}
    /* search history */
.header__search-history{
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    background-color: var(--white_color);
    width: calc(100% - 16px);
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(184, 184, 184) ;
    display: none;
    z-index: 9;
}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;

}
.header__search-history-item{
    height: 38px;
    padding: 0 12px ;
    cursor: pointer;
}
.header__search-history-item:hover{
    background-color: rgb(240, 238, 238);
}
.header__search-history-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

}
.header__search-history-item a{
    text-decoration: none;
    color: var(--text_color);
    font-size: 1.4rem;
    line-height: 38px;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__navbar-user{
  position: relative;
}
.header__navbar-user-img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.header__navbar-user-name{
    font-size: 1.6rem;
    margin-left: 4px;
    font-weight: 400;
    color: var(--white_color);

}
.header__navbar-user-menu{
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    background-color: var(--white_color);
    border-radius: 3px;
    z-index: 999999;
    width: 140px;
    box-shadow: 0 0 5px #c5c3c3;
    padding-left: 0;
    display: none;
}
.header__navbar-user-menu::before{
    content: "";
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent white transparent ;
    position: absolute;
    right: 30px;
    top: -18px;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-item a{
    width: 100%;
    text-decoration: none;
    color: var(--text_color);
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-user-item{
    padding: 6px 16px;
}
.header__navbar-user-item:hover{
    background-color: rgb(223, 217, 217);
   
}
.header__navbar-user-item:first-child{
    border-top-left-radius: 3px ;
    border-top-right-radius: 3px;
}
.header__navbar-user-item:last-child{
    border-bottom-left-radius: 3px ;
    border-bottom-right-radius: 3px;
}
.header__navbar-user-item:last-child a{
    color: var(--primary_color);
    font-weight: 500;
}
.header__navbar-user-item-separation{
    border-top: 2px solid #b8b8b8;
}

/* App container */
.app_contrainer{
    background-color: #f0ebeb;
}
.app_content{
    padding-top: 36px;
}
.category{
    background-color: var(--white_color);
    border-radius: 3px;
}
.category-heading{
    font-size: 1.7rem;
    color: var(--text_color);
    padding: 12px 16px 0;
    margin-top: 0;
    
}
.category-heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px
}
.category-list{
    padding: 0 0 8px 8px;
    list-style: none;
}
.category-item{
    position: relative;
}
.category-item::after{
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    right: 4px;
    border-bottom: 1px solid #e7dede;
}
.category-item:last-child::after{
    display: none;
}
.category-item--active .category-item__link{
    color: var(--primary_color);
}
.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary_color);
    top: 50%;
    left: 4px;
    transform: translateY(calc(-50% - 1px));
}
.category-item__link{
    display: block;
    position: relative;
    color: var(--text_color);
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 450;
    padding: 6px 20px;
    transition: right linear 0.1;
    right: 0;
}
.category-item__link:hover{
    color: var(--primary_color);
    right: -6px;
}

/* Filter */
.home-filter{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 12px 22px;
    border-radius: 3px;
}
.home-filter__page{
    display: flex;
    align-items: center;

}
.home-filter__label{
    color: #555555;
    font-size: 1.4rem;
    margin-right: 16px;
}
.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
    box-shadow: 1px 1px 2px #c5c3c3;

}
.select-input{
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 3px;
    background-color: var(--white_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
    position: relative;
    box-shadow: 1px 1px 2px #c5c3c3;

}
.select-input__icon{
    font-size: 1.4rem;
    color: rgba(131,131,131);
    position: relative;
    top: 1px;
}
.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 21px;
    border-radius: 3px;
    background-color: var(--white_color);
    padding: 0;
    list-style: none;
    padding: 8px 16px;
    display: none;
    box-shadow: 1px 1px 2px #c5c3c3;
    z-index: 2;

}
.select-input__link{
    font-size: 1.4rem;
    color: var(--text_color);
    text-decoration: none;
    display: block;
    padding: 8px 0;
}
.select-input__link:hover{
    color: var(--primary_color);
}
.select-input:hover .select-input__list{
    display: block;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-number{
    font-size: 1.4rem;
    color: var(--text_color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary_color);
}
.home-filter__page-control{
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 1px 1px 2px #c5c3c3;
}
.home-filter__page-btn{
    flex: 1;
    background-color: var(--white_color);
    text-decoration: none;
    display: flex;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid rgba(221, 219, 219, 0.933);
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
.home-filter__page-btn-disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn-disabled .home-filter__page-icon{
    color: #ccc;
}

/* product item */
.home-product-item{
    display: block;
    text-decoration: none;
    background-color: var(--white_color);
    margin-top: 10px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}
.home-product-item:hover{
    box-shadow: 0 1px 20px 0 rgba(0,0,0, 0.05);
   transform: translateY(-2px);

}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius:5px ;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text_color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}
.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;

}
.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary_color);
    margin-left: 10px;



}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0;
}
.home-product-item__like{
    font-size: 10px;
}

i.home-product-item__like-icon-empty{
    font-size: 1.4rem;
}
i.home-product-item__like-icon-fill{
    display: none;
    font-size: 1.4rem;
    
}

.home-product-item__like--active  .home-product-item__like-icon-fill{
    display: inline-block;
    color: #f63d10;
}
.home-product-item__like--active  .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 1rem;
    color: rgb(156, 151, 151);
    margin-left: auto;
}
.home-product-item__star-gold{
    color: var(--star_gold);
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text_color);
    margin-left: 4px;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 8px 10px;
    font-size: 1.2rem;
    color: #595959;
    font-weight: 300px;
    padding-bottom: 4px;
}
/* .home-product-item__brand{

}
.home-product-item__origin-name{

} */
.home-product-item__favorite{
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: var(--primary_color);
    color: var(--white_color);
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 4px;
    line-height: 1.6rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 1px 1px 2px rgb(94, 92, 92);


}
.home-product-item__favorite::before{
    content: "";
    border-top: 4px solid #b92a2a;
    border-left: 3px solid transparent;
    position: absolute;
    left: 0;
    top: 100%;
}

.home-product-item__favorite i{
    font-size: 0.9rem;
    margin: 0 3px 0 4px;
}
.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgb(255, 216, 64, 0.9);
    padding: 4px 4px;
    border-top-right-radius: 5px;

}
.home-product-item__sale-off::before{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgb(255, 216, 64, 0.9) transparent rgb(255, 216, 64, 0.9);

}
.home-product-item__sale-off-percent{
    font-size: 1.3rem;
    font-weight: 600;
    color: #ee4d2d;
    line-height: 1.3rem;
}
.home-product-item__sale-off-label{
    line-height: 1.3rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white_color);
}
/* Pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-item{
    list-style: none;
    margin: 0 8px;
}
.pagination-item--active .pagination-item__link {
    background-color: var(--primary_color);
    color: var(--white_color);
    border-radius: 3px;
}
.pagination-item__link{
    text-decoration: none;
    font-weight: 400;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
}
.pagination-item__link:hover{
    filter: brightness(85%);
}

.home-product-pagination{
    margin: 38px 0 32px 0;
}
/* Footer */
.footer{
    border-top: 4px solid var(--primary_color);
    padding-top: 16px;
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text_color);
}
.footer__list{
    padding-left: 0;
    list-style: none;
}
.footer__item-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}
.footer__item-link:hover{
    color: var(--primary_color);
}
.footer__item-icon{
    font-size: 1.6rem;
    margin: -2px 8px 0 0;
}
.footer__download{
    display: flex;
    align-items: center;
}
.footer__download-qr{
    width: 80px;
    height: 80px;
    border: 1px solid var(--border_color);
}
.footer__download-apps{
    margin-left: 16px;

}
.footer__download-app-img{
    height: 25px;
}
.footer__download-apps-link{
    text-decoration: none;
    color: transparent;
}
.footer_text{
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 24px;
    color: #737373;
}
.footer_text:hover{
    color: var(--primary_color);
}